<!DOCTYPE html>
<html ng-app="tw">
<head lang="de">
    <meta charset="UTF-8">
    <title>Was steckt in meinem Leitungswasser?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.8.3/angular-material.css">
    <link rel="stylesheet" href="css/screen.css">
</head>
<body>
 <div align="center">
 <div ng-controller="NavController">
<md-button class="md-fab md-primary" ng-click="goto()"> 
<md-icon md-svg-src="image/contact.svg"></md-icon>
</md-button>
<md-button class="md-fab md-primary" ng-click="goti()"> 
<md-icon md-svg-src="image/info.svg"></md-icon>
</md-button>
<md-button class="md-fab md-primary" ng-click="gota()"> 
<md-icon md-svg-src="image/person.svg"></md-icon>
</md-button>
<md-button class="md-fab md-primary" ng-click="gotu()"> 
<md-icon md-svg-src="image/impressum.svg"></md-icon>
</md-button>

 </div>

<div ng-view></div>
 </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/i18n/angular-locale_de-de.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-aria.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-route.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.8.3/angular-material.js"></script>
<script src="modules/tw.js"></script>
<script src="modules/SelectPlaceCtrl.js"></script>
<script src="modules/PlaceCtrl.js"></script>
<script src="modules/NavController.js"></script>
<script src="data/locations.js"></script>
<script src="data/zones.js"></script>
</body>
</html>