{% load i18n %}
{% load l10n %}
{% block attribution %}
<div class="modal fade" id="attributionDialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{% trans "tapwater_modals_attribution_modal_participants" %}</h4>
            </div>
            <div class="modal-body">
                <p><strong>{% trans "tapwater_modals_attribution_modal_editorial_realization" %}</strong></p>
                <p>
                    Vanessa Wormer (<a target="_blank" href="https://twitter.com/remrow">@remrow</a>)<br />
                    Isabelle Müller (<a target="_blank" href="https://twitter.com/isa_mue">@isa_mue</a>)
                </p>

                <p><strong>{% trans "tapwater_modals_attribution_modal_design" %}</strong></p>
                <p>
                    Heiko Nicht (<a target="_blank" href="https://twitter.com/HeikoNicht">@HeikoNicht</a>)
                </p>

                <p><strong>{% trans "tapwater_modals_attribution_modal_programming" %}</strong></p>
                <p>
                    Felix Ebert (<a target="_blank" href="https://twitter.com/femeb">@femeb</a>)<br />
                    Ulrich Stech<br />
                </p>

                <p><strong>{% trans "tapwater_modals_attribution_hshnn" %}</strong></p>
                <p>
                    Rohan Ahmed<br>
                    Gregor Schäfer<br>
                    Simon Scheuermann<br>
                    Florette Chamga<br>
                    Benedikt Kurschatke<br>
                    Siegfried Schwengler<br>

                </p>

                <p><strong>{% trans "tapwater_modals_attribution_modal_collaboration" %}</strong></p>
                <p>
                    Alexander Walther (<a target="_blank" href="https://twitter.com/alexplus_de">@alexplus_de</a>)<br />
                    Tom Görner<br />
                    Gerd Hoffmann
                </p>
                <br />
                <p>{% trans "tapwater_modals_attribution_modal_meeting_in_heilbronn" %}<a href="http://codefor.de">
                    {% trans "tapwater_modals_attribution_modal_code_for_germany" %}</a>
                    {% trans "tapwater_modals_attribution_modal_common_open_data_project" %}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}