<md-select placeholder="Pick" ng-model="selectedCity" ng-change="getDistrictsOfCity(selectedCity)">
    <md-option ng-repeat="city in cities" value="{{city}}">{{city}}</md-option>
</md-select>
<br></br>
<md-select placeholder="Pick" ng-model="selectedDistrict">
    <md-option ng-repeat="district in districts" value="{{district}}">{{district}}</md-option>
</md-select>
<br></br>
<md-button class="md-raised" href="#/place/{{selectedCity}} {{selectedDistrict}}">Open Place</md-button>
<br></br>
<md-input-container md-no-float>
    <md-icon md-svg-src="img/icons/ic_place_24px.svg" style="display:inline-block;"></md-icon>
    <input ng-model="user.address" type="text" placeholder="Address" place-autocomplete>
</md-input-container>
<br></br>
<md-button class="md-raised" href="" locate-me-button>Locate Me</md-button>