<md-select placeholder="Pick" ng-model="selectedCity" ng-change="getDistrictsOfCity(selectedCity)">
    <md-option ng-repeat="city in cities" value="{{city}}">{{city}}</md-option>
</md-select>
<br></br>
<md-select placeholder="Pick" ng-model="selectedDistrict">
    <md-option ng-repeat="district in districts" value="{{district}}">{{district}}</md-option>
</md-select>
<br></br>
<md-button class="md-raised" href="#/place/{{selectedCity}} {{selectedDistrict}}">Open Place</md-button>

<md-input-container>
    <label>Address</label>
    <input ng-model="address" geocode-address>
</md-input-container>

<md-button class="md-raised" locate-me-button>Locate me</md-button>
