{% extends 'administration/base.html' %}
{% load i18n %}
{% load l10n %}
{% load static %}

{% block content %}

{% for message in messages %}
{% if 'success' in message.tags %}
<div class="alert alert-success" id="change-successful">
    {{ message }}
</div>
{% endif %}
{% if 'error' in message.tags %}
<div class="alert alert-danger" id="change-failed">
    {{ message }}
</div>
{% endif %}
{% endfor %}

<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-signin" method="POST" action="{% url 'change_admin_password' %}" id="frmChangePassword">
            {% csrf_token %}

            <label for="new_password">{% trans 'admin_change_password_new_password' %}:</label>
            <input class="form-control" id="new_password" name="new_password" type="password" required /><br>

            <label for="new_password_repeat">{% trans 'admin_change_password_new_password_repeat' %}:</label>
            <input class="form-control" id="new_password_repeat" name="new_password_repeat" type="password" required /><br>

            <button class="btn btn-primary pull-right" id="btnChangePassword" type="submit">{% trans "admin_change_password_save" %}</button>
        </form>
    </div>
</div>
{% endblock %}
